---
---
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Court Ewing - Epixa</title>

    <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>

    <div class="content page row">

      <header class="col">
        <div class="row">
          <section class="col me">
            <img src="/img/headshot.png">
            <hgroup>
              <h1><a href="/">Court Ewing</a></h1>
              <h2>Software Engineer, Elastic</h2>
            </hgroup>
          </section>

          <ul class="col social-list">
            <li>
              <a href="https://github.com/epixa">
                <i class="icon">{% include icon-github.svg %}</i> github.com/epixa
              </a>
            </li>
            <li>
              <a href="https://twitter.com/courtewing">
                <i class="icon">{% include icon-twitter.svg %}</i> twitter.com/courtewing
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/courtewing">
                <i class="icon">{% include icon-linkedin.svg %}</i> linkedin.com/in/courtewing
              </a>
            </li>
            <li>
              <a href="mailto:court@epixa.com">
                <i class="icon">{% include icon-email.svg %}</i> court@epixa.com
              </a>
            </li>
          </ul>
        </div>
      </header>

      <section class="col post-list">
        <section>
          <h3>2015</h3>
          <ul class="article-list">
            <li>
              <h1><a href="/2013/02/pub-standards-lancaster.html">I'm back!</a></h1>
              <span class="date">Dec 2015</span>
              <span class="summary">No one liked 2014 anyway</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>2013</h3>
          <ul>
            <li>
              <h1><a href="/2013/02/pub-standards-lancaster.html">Pub Standards Lancaster</a></h1>
              <span class="date">Feb 2013</span>
              <span class="summary">A new Pub Standards chapter is starting in Lancaster, Pennsylvania</span>
            </li>
          </ul>
        </section>
        <section>
          <h3>2012</h3>
          <ul>
            <li>
              <h1><a href="/2013/02/pub-standards-lancaster.html">How PHP is Broken and How It Can Be Fixed</a></h1>
              <span class="date">Aug 2012</span>
              <span class="summary">A bit of a rant about my perceived failures of the php core development</span>
            </li>
            <li>
              <h1><a href="/2013/02/pub-standards-lancaster.html">How to Stay Productive When You Work from Home</a></h1>
              <span class="date">Dec 2012</span>
              <span class="summary">5 tips that have helped me stay productive while telecommuting</span>
            </li>
          </ul>
        </section>
      </section>

      <aside class="col block">
        <h1>About</h1>
        <p>
          I lead the UX Engineering team at Engine Yard, write a lot of JavaScript,
          and make my own coffee and beer. My entire career has been built upon
          open source technology, so this blog is one way for me to give back.
          <a class="more" href="/about.html">more <i class="icon">{% include icon-right-caret.svg %}</i></a>
        </p>
      </aside>

      <aside class="col">
        <h1>Projects</h1>
        <ul>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://github.com/epixa/epixa-resource">epixa-resource - Memoized REST model mapping for angular.js</a></li>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://npmjs.org/package/chuckt">ChuckT - Event system for SockJS websockets</a></li>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://github.com/epixa/strapi-dev">Strapi - Micro API Framework for PHP 5.4</a></li>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://github.com/epixa/talkfest">Talkfest - HN inspired discussion board built with Symfony 2</a></li>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://github.com/epixa/exodus">Exodus - Finds common followers between Twitter and Identi.ca</a></li>
          <li><i class="icon icon-small">{% include icon-right-caret.svg %}</i><a href="https://github.com/epixa/Epixa">Epixa - Utility library for Zend Framework 1 and Doctrine 2</a></li>
        </ul>
      </aside>

    </div>

    <footer class="content">
      <div class="footnote">
        Icons by <a href="http://www.flaticon.com/authors/dave-gandy" target="_blank">Dave Gandy</a>
        - <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
      </div>
    </footer>

  </body>

</html>
