---
---
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <title>Court Ewing - Epixa</title>

    <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>

    <div class="content page row">

      <div class="document col">

        <header>
          <h1>Pub Standards Lancaster</h1>
          <h2>February 2013</h2>
        </header>

        <section>
          <p>Pub Standards is a monthly meetup of developers, designers, founders and people-who-like-to-build-stuff.  The practice
          began in London in 2005 and has since spread to other cities across the world. Starting <strong>March 14th</strong>,
          <a href="http://pubstandards.us">Pub Standards Lancaster</a> begins meeting on the <strong>second Thursday</strong> of every month from
          <strong>6pm</strong> onwards.</p>

          <p>Nearly two years ago, <a href="https://twitter.com/eamonleonard">Eamon Leonard</a> convinced me to start a new Pub Standards
          chapter in my hometown of Lancaster, PA. <a href="https://twitter.com/kapowaz">Ben Darlow</a> graciously customized a Pub Standards
          beermat logo, I bought the pubstandards.us domain, and I started talking to my local network of developers.</p>

          <p>Unfortunately, as I was actively trying to increase my presence on the web, I was simultaneously neglecting my budding
          network of developers/designers in the Lancaster community, and the dream of a local Pub Standards died before it
          really began.</p>

          <p>That was until a few weeks ago, when I was inspired again to get this ball rolling by the urging of Eamon and an
          awesome turn out of tech talent at a local party/meetup downtown in the <a href="http://www.theinfantree.com/">Infantree</a>
          studio.</p>

          <p>With a population of only 60,000 urban/500,000 metro, Lancaster is no doubt the smallest city with a Pub Standards
          chapter, but its thriving arts community coupled with its wide range of design/dev shops and startups makes it the best
          place in central PA for just such a meetup.</p>

          <h2>For Lancaster web folk that are interested:</h2>

          <p>We have not yet selected the bar in which Pub Standards will meet. Custom dictates that Pub Standards is to be held at
          the same bar every month, so we definitely want to choose a pub that has great drinks, isn&#39;t so loud that we can&#39;t chat,
          and that has enough space for a group every second Thursday at 6pm.</p>

          <p>I imagine the upcoming Federal Taphouse would be a great option, but that likely will not be opening in time for the
          first meetup.  Other bars under consideration are the Dispensing Company and the Spring House Taproom.</p>

          <p>If you have any other pub suggestions or have a preference for one of these in particular, let me know
          <a href="https://twitter.com/courtewing">@courtewing</a>.</p>

        </section>

        <nav class="goback">
          <a href="design.html">
            <i class="icon icon-small">{% include icon-left-caret.svg %}</i>
            Home
          </a>
        </nav>

        <aside class="posts">
          <h1 class="modest">
            <span class="dependent">If you liked this article, </span>
            you may also like:
          </h1>
          <ul>
            <li>
              <i class="icon icon-small">{% include icon-right-caret.svg %}</i>
              <a href="design-post.html">
                <span class="date">2012-01-03</span>
                My Extraordinary Year in Review
              </a>
            </li>
            <li>
              <i class="icon icon-small">{% include icon-right-caret.svg %}</i>
              <a href="design-post.html">
                <span class="date">2011-08-31</span>
                How PHP is Broken and How It Can Be Fixed
              </a>
            </li>
            <li>
              <i class="icon icon-small">{% include icon-right-caret.svg %}</i>
              <a href="design-post.html">
                <span class="date">2011-11-14</span>
                Follow-up: How PHP is Broken and How It Can Be Fixed
              </a>
            </li>
            <li>
              <i class="icon icon-small">{% include icon-right-caret.svg %}</i>
              <a href="design-post.html">
                <span class="date">2012-04-01</span>
                A New Paradigm Rises to Save the Modern Web
              </a>
            </li>
          </ul>
        </aside>

        <aside class="author">
          <img src="/img/headshot.png">
          <span>
            <em>Court Ewing</em> is a <em>software engineer</em> who is passionate about the <em>open
            source community</em>, user experience design, and other nerdy things.
          </span>
        </aside>

        <aside class="social-icon-links">
          <ul>
            <li>
              <a href="https://github.com/epixa">
                <i class="icon">{% include icon-github.svg %}</i> Github
              </a>
            </li>
            <li>
              <a href="https://twitter.com/courtewing">
                <i class="icon">{% include icon-twitter.svg %}</i> Twitter
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/courtewing">
                <i class="icon">{% include icon-linkedin.svg %}</i> Linkedin
              </a>
            </li>
            <li>
              <a href="mailto:court@epixa.com">
                <i class="icon">{% include icon-email.svg %}</i> Email
              </a>
            </li>
          </ul>
        </aside>

      </div>
    </div>

    <footer class="content">
      <div class="footnote">
        Icons by <a href="http://www.flaticon.com/authors/dave-gandy" target="_blank">Dave Gandy</a>
        - <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
      </div>
    </footer>

  </body>

</html>
