/**
 * # defaults
 */

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

body {
  background: $bg-color url("../img/use_your_illusion.png"); /* http://subtlepatterns.com/use-your-illusion/ */
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  background-color: $content-bg-color;
  margin: 0 auto;
  max-width: $max-content-width;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

// page setup
// fonts
// colors
// vertical flow
