/**
 * # defaults
 */

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  background: $bg-color url("../img/use_your_illusion.png"); /* http://subtlepatterns.com/use-your-illusion/ */
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include media-query($on-laptop) {
    padding-bottom: $spacing-unit;
  }
}

em {
  font-weight: 500;
  font-style: normal;
}

/**
 * Content positioning
 */
.content {
  margin: 0 auto;
  max-width: $max-content-width;
}

/**
 * Page layout
 */
.page {
  background-color: $content-bg-color;
  //padding-top: $spacing-unit;

  @include media-query($on-laptop) {
    margin-top: 2.5em;
  }
}

.footnote {
  color: $grey-color-dark;
  font-size: 0.8em;
  padding-top: 0.1em;
  text-align: right;

  a {
    color: $grey-color-dark;
    text-decoration: none;
  }
}

// todo: change this from global
aside {
  color: $grey-color;

  h1 {
    color: $grey-color;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  a {
    color: $grey-color;
    text-decoration: none;
  }

  a:hover {
    color: $red-color;

    .icon > svg path { fill: $red-color; }
  }

  a.more {
    float: right;
    font-size: 0.9em;
    padding-left: 0.5em;

    .icon > svg {
      height: 0.5em;
      vertical-align: 0.05em;
      width: 0.5em;
    }
  }

  a.more:not(:hover) {
    color: $grey-color-light;
  }

  ul {
    list-style: none;

    li {
      clear: both;

      a {
        float: right;
        line-height: 1.4;
        margin-bottom: 0.5em;
        width: calc(100% - 1em);
      }

      .icon.icon-small > svg { vertical-align: baseline; }
    }
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;

    path {
      fill: $grey-color-light;
    }
  }
}

.icon.icon-small {
  > svg {
    height: 0.7em;
    width: 0.7em;
  }
}
