/**
 * # document
 */

.document {
  h1, h2, h3 {
    font-size: 1.25em;
  }

  section, aside {
    @extend %clearfix;
    margin-bottom: $spacing-unit;
  }

  header {
    @extend %vertical-rhythm;

    h1 {
      font-size: 1.5em;
    }

    h2 {
      color: $grey-color;
      font-size: 0.9em;
      letter-spacing: 0.1em;
    }
  }

  section {
    h1, h2, h3, li, p {
      @extend %vertical-rhythm;
    }
  }

  .goback {
    position: absolute;
    right: 0.5em;
    top: 0.1em;

    .icon {
      display: inline-block;
      vertical-align: top;

      > svg {
        font-size: 0.8em;
        path { fill: $grey-color; }
      }
    }

    a {
      display: inline-block;
      color: $grey-color;
      text-transform: lowercase;
      text-decoration: none;
    }

    a:hover {
      color: $grey-color-dark;

      .icon > svg path { fill: $grey-color-dark; }
    }
  }

  .posts {
    color: $grey-color;

    h1, ul { @extend %vertical-rhythm; }

    .dependent { display: none; }

    h1 {
      color: $grey-color;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    a {
      color: $grey-color;
      text-decoration: none;
    }

    a:hover {
      color: $red-color;
    }

    ul {
      list-style: none;

      li {
        @extend %clearfix;

        margin-bottom: 0.25em;
        white-space: nowrap;

        a {
          display: inline-block;
          white-space: normal;
        }

        .icon {
          display: inline-block;
          vertical-align: top;
        }

        .icon.icon-small > svg { vertical-align: baseline; }

        .date {
          color: $grey-color-light;
          font-size: $small-font-size;
          display: inline-block;
          padding-right: 0.1em;
        }
      }
    }
  }

  .author {
    color: $text-color;

    img {
      display: inline-block;
      height: $headshot-dimension;
      vertical-align: top;
      width: $headshot-dimension;
    }

    span {
      display: inline-block;
      line-height: $headshot-dimension / 3;
      width: calc(100% - #{$headshot-dimension + 1em});
    }
  }

  .social-icon-links {
    ul {
      text-align: center;
      margin: 0 auto;
      width: 15em;
    }
    li {
      display: block;
      float: left;
      margin: 0;
      padding: 1em;
      width: 5em;
    }
    a {
      color: $grey-color;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    a:hover {
      color: $red-color;
      .icon > svg path { fill: $red-color; }
    }
    .icon > svg {
      height: 2.5em;
      width: 2.5em;

      path {
        fill: $grey-color;
      }
    }
  }

  @include media-query($on-tablet) {
    h1, h2, h3 {
      font-size: 1.35em;
    }

    li, p, blockquote {
      font-size: 1.1em;
    }

    .author {
      margin-bottom: $spacing-unit * 1.5;
    }

    .social-icon-links {
      ul {
        width: 100%
      }
      li {
        display: inline-block;
        float: none;
        padding: 0 0.5em;
      }
    }

    header {
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1em;
        text-transform: uppercase;
      }
    }

    .posts {
      .dependent { display: inline; }
    }

    .author {
      font-size: 1.2em
    }
  }

  @include media-query($on-laptop) {
    $laptop-spacing: $spacing-unit * 2;
    $doc-margins: 8.9em;

    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: $max-content-width - ($doc-margins * 2) + $laptop-spacing;
    min-width: $on-laptop - ($doc-margins * 2);
    padding-bottom: $doc-margins - $laptop-spacing;
    padding-top: $doc-margins - $laptop-spacing;

    > :last-child {
      margin-bottom: 0;
    }

    section, .posts {
      margin-bottom: $laptop-spacing;
    }

    .social-icon-links {
      margin: 0;
    }

    h1, h2, h3 {
      font-size: 1.5em;
    }

    li, p, blockquote {
      font-size: 1.25em;
      line-height: 1.6;
    }

    header {
      padding-bottom: 5em - $spacing-unit;

      h1 {
        font-size: 3.1em;
        text-align: center;
      }

      h2 {
        font-size: 1.25em;
        font-weight: normal;
        padding-top: 0.2em;
        text-align: center;
      }
    }

    section {
      h2, h3 {
        padding-top: 0.5em;
      }

      li, p, blockquote {
        text-align: justify;
      }
    }

    .goback {
      left: 0;
      line-height: 2.5em;
      right: auto;
      top: -2.5em;

      .icon {
        font-size: 0.6em;

        > svg {
          font-size: 1em;
          path { fill: $grey-color-dark; }
        }
      }

      a {
        color: $grey-color-dark;
        letter-spacing: 0.1em;
        font-size: 1.5em;
      }

      a:hover {
        color: $grey-color;

        .icon > svg path { fill: $grey-color; }
      }
    }

    .author {
      font-size: 1.9em;

      img {
        padding: 0;
      }

      span {
        line-height: calc(#{$headshot-dimension} / 3);
      }
    }
  }
}
