/**
 * # home
 */


$headshot-dimension:   4em;
$min-left-col-width:   20em;
$min-social-col-width: 15em;

// todo: make this more universal
$left-col-heading-color: #6f6f6f;

/**
 * Home
 */
.home {
  @extend %clearfix;

  > header.col, > section.col {
    margin-bottom: $spacing-unit;
  }

  section.block {
    text-align: justify;
  }

  section {
    color: $grey-color;

    h1 {
      color: $grey-color;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    a {
      color: $grey-color;
      text-decoration: none;
    }

    a:hover {
      color: $red-color;

      .icon > svg path { fill: $red-color; }
    }

    a.more {
      float: right;
      font-size: 0.9em;
      padding-left: 0.5em;

      .icon > svg {
        height: 0.5em;
        vertical-align: 0.05em;
        width: 0.5em;
      }
    }

    a.more:not(:hover) {
      color: $grey-color-light;
    }

    ul {
      list-style: none;

      li {
        clear: both;

        a {
          float: right;
          line-height: 1.4;
          margin-bottom: 0.5em;
          width: calc(100% - 1em);
        }

        .icon.icon-small > svg { vertical-align: baseline; }
      }
    }
  }

  @include media-query($on-laptop) {
    padding-bottom: 2.5em - $spacing-unit;
    padding-top: 2.5em;

    > header.col {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
    > section.col {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
}

/**
 * Me / Main header
 */
.me {
  align-items: center;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-bottom: $spacing-unit / 4;

  > img {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: $headshot-dimension;
    width: $headshot-dimension;
  }

  > hgroup {
    // begin hack for safari
    // prevents headshot from scaling on mid-sized resolutions
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    // end hack for safari

    line-height: 1.2;
    padding-left: $spacing-unit / 3;
  }

  h1, h2 {
    color: $left-col-heading-color;

    a {
      color: $left-col-heading-color;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

/**
 * Social links
 */
.social-list {
  list-style: none;

  a {
    color: $grey-color;
    font-size: $small-font-size;
    letter-spacing: 0.1em;
    text-decoration: none;
  }

  a:hover {
    color: $red-color;
  }

  .icon > svg { vertical-align: -0.15em; }

  @include media-query($on-tablet) {
    li { float: left; min-width: $min-social-col-width; }
    li:nth-child(even) { width: calc(100% - #{$min-social-col-width}); }
  }

  @include media-query($on-laptop) {
    li, li:nth-child(even) { float: none; width: 100%; }
  }
}
