/**
 * # home
 */


$headshot-dimension:   4.5em;
$min-left-col-width:   20em;
$min-social-col-width: 15em;

// todo: make this more universal
$left-col-heading-color: #6f6f6f;

/**
 * Page
 */
.page {
  @include media-query($on-laptop) {
    > header.col { width: $min-left-col-width; }
    > section.col { float: right; width: calc(100% - #{$min-left-col-width}); }
    > aside.col { clear: left; width: $min-left-col-width; }
  }
}

/**
 * Me / Main header
 */
.me {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: $spacing-unit / 4;

  > img {
    flex-shrink: 0;
    height: $headshot-dimension;
    width: $headshot-dimension;
  }

  > hgroup {
    // begin hack for safari
    // prevents headshot from scaling on mid-sized resolutions
    flex-shrink: 0;
    // end hack for safari

    line-height: 1.2;
    padding-left: $spacing-unit / 2;
  }

  h1, h2 {
    color: $left-col-heading-color;

    a {
      color: $left-col-heading-color;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

/**
 * Social links
 */
.social-list {
  list-style: none;

  a {
    color: $grey-color;
    font-size: $small-font-size;
    letter-spacing: 0.1em;
    text-decoration: none;
  }

  a:hover {
    color: $red-color;
  }

  .icon > svg { vertical-align: -0.15em; }

  @include media-query($on-tablet) {
    li { float: left; min-width: $min-social-col-width; }
    li:nth-child(even) { width: calc(100% - #{$min-social-col-width}); }
  }

  @include media-query($on-laptop) {
    li, li:nth-child(even) { float: none; width: 100%; }
  }
}
