---
layout: default
---

<div class="home">

  <header class="col">
    <div class="row">
      <section class="col me">
        <img src="/img/headshot.png">
        <hgroup>
          <h1><a href="{{ "/" | prepend: site.baseurl }}">Court Ewing</a></h1>
          <h2>Director of Engineering @ Elastic</h2>
        </hgroup>
      </section>

      <ul class="col social-list">
        <li>
          <a href="https://github.com/epixa">
            <i class="icon">{% include icon-github.svg %}</i> github.com/epixa
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/courtewing">
            <i class="icon">{% include icon-linkedin.svg %}</i> linkedin.com/in/courtewing
          </a>
        </li>
        <li>
          <a href="mailto:court@epixa.com">
            <i class="icon">{% include icon-email.svg %}</i> court@epixa.com
          </a>
        </li>
      </ul>
    </div>
  </header>

  {{ content }}

</div>
